body {
    height: auto;
    margin: 0%;
}

header {
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    font-size: x-large;
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    position: relative;
    text-align: center;
    bottom: 0%;
}

header h1 {
    margin: 0%;
}

#navigate {
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu {
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu li {
    padding: 10px;
    display: inline-block;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.product {
    width: 14%;
    padding: 5px;
    min-width: 140px;
    min-height: 180px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: 5px 5px 10px gainsboro;
    background-color: rgb(243, 243, 253);
    padding: 30px;
}

.product:hover {
    width: 18%;
    height: 200px;
}

.product>h4,
.product>p {
    margin: 0%;
}

.product>p {
    font-size: 14px;
    color: rgb(43, 124, 230);
}

.product img {
    width: 98%;
    height: 100px;
}

.product button {
    width: 100px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: lavender;
    font-size: 16px;
    color: orange;
    font-weight: bold;
}

.product button:active {
    background-color: white;
    border: 1px solid lightgreen;
}

#img_section {
    margin: 3px;
    height: 400px;
    min-height: 300px;
    border: 5px solid steelblue;
    background-color: rgb(168, 228, 228);
    text-align: center;
    animation-name: image-change;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes image-change {
    0% {
        background-image: url(Images/Animation/ani1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    25% {
        background-image: url(Images/Animation/ani2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    50% {
        background-image: url(Images/Animation/ani3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    75% {
        background-image: url(Images/Animation/ani4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    100% {
        background-image: url(Images/Animation/ani5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.menu li:nth-child(2):hover #medicines,
.menu li:nth-child(3):hover #healthcare {
    display: block;
}

#medicines,
#healthcare {
    position: absolute;
    width: auto;
    padding: 0%;
    display: none;
    max-width: 150px;
    top: 42.5px;
    background-color: whitesmoke;
}

#medicines li,
#healthcare li {
    display: block;
}

#medicines li:hover,
#healthcare li:hover {
    background-color: gainsboro;
}

#medicines li a,
#healthcare li a {
    font-size: 16px;
    color: steelblue;
}

.main {
    padding-left: 20px;
}