body{        
    padding-top: 60px;
    padding-bottom: 40px;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #5c5756;
    padding: 13px 0;
    color: #fff;
    height: 45px;
}

.fixed-header{
    top: 0;
}

.fixed-header p {
    float: right;
    font-size: 24px;
    font-weight: bold;
    margin: 0%;
    padding: 8px;
    text-align: center;
}

.fixed-footer{
    bottom: 0;
    text-align: center;
    background-color: #1a1716;
}

.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}


.navbar {
    overflow: hidden;
    background-color: #969394;
}
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4a4748;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .scroll {
    position: relative;
    width: 100vw;
    background-color: $boxify-bg-light-dark;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  
  .m-scroll {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 10s infinite linear;
    margin: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    width: 250%;
  }
  
  span{
    display: block;
    margin: 0;
    padding: 0;
    color: white;    
  }

  span img {
    display: block;
    width: 100%;
    min-width: 100% !important;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }